body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerDiv{
  background-image: url("images/image-header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
.headerHeading{
  text-align: center;
  margin-top: 150px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: white;
}

/* Navbar styling */
.navbarDiv {
  height: auto;
}
.mainNav {
  color: white;
  text-align: center;
}
.navbar-toggler {
  border: 1px solid white;
  border-radius: 2px;
}
.navbar-toggler-icon {
  color: white;
}
.navbar-brand {
  color: white;
  font-weight: bold;
  font-size:xx-large;
  padding-left: 100px;
}
.navbar-brand:hover {
  font-weight: 800;
  color: white;
}
.mainNav img {
  margin: 0 20px;
}
.mainNav ul {
  margin-left: auto;
  margin-right: 50px;
  padding-bottom: 10px;
}
.linkStyle {
  color: white;
  font-size: large;
  margin-right: 20px;
  margin-top: 30px;
}
.linkStyle:hover {
  color: white;
  border-bottom: 2px solid white;
  font-weight: 600;
}
.contactNavLink{
  background-color: white;
  color: black;
  font-size: medium;
  border-radius: 30px;
  padding: 10px 0px;
}
.contactNavLink:hover{
  background-color: #00aaff;
  color: white;
  border: 0px
}

/* USection Design */

.DivLeft{
}
.DivRight{
}
.Div2{
}
.Div3{
}
.uSectionTextDiv{
  padding: 200px 100px;
}
.Div1Right{
  background-image: url("images/image-transform.jpg");
  background-size: 100% 100%;
  height: 600px;
  height: 600px;
}
.Div2Left{
  background-image: url("images/image-stand-out.jpg");
  background-size: 100% 100%;
  height: 600px;
}
.Div3{
  text-align: center;
}
.Div3Right{
  background-image: url("images/image-photography.jpg");
  background-size: 100% 100%;
  height: 600px;
  padding: 200px 100px;
}
.Div3Left{
  background-image: url("images/image-graphic-design.jpg");
  background-size: cover;
  height: 600px;
  padding: 200px 100px;
}
.Div3 .uSectionTextDiv h2{
  margin-top: 250px;
}

/* Testimonials */

.testimonialsDiv{
  background-color: #fffbf8;
  text-align: center;
  clear: both;
  /* height: auto;
  padding-top: 50px; */
}
.testHeading{
  color: #a5a6a8;
  clear: both;
  padding-top: 100px;
  padding-bottom: 50px;
}
.client{
  padding: 50px 50px;
}
.client img{
  border-radius: 50%;
  margin-bottom: 50px;
}
.clientName{
  font-weight: bold;
  margin-top: 50px;
}
.clientName sub{
  font-weight: normal;
}
.testimonialsDiv{
  padding-bottom: 100px;
}


/* Images styling DIv */
.imagesDiv{
  text-align: center;
}
.imagesDiv .image1{
  background-image: url("images/image-gallery-milkbottles.jpg");
  height: 500px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.imagesDiv .image2{
  background-image: url("images/image-gallery-orange.jpg");
  height: 500px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.imagesDiv .image3{
  background-image: url("images/image-gallery-cone.jpg");
  height: 500px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.imagesDiv .image4{
  background-image: url("images/image-gallery-sugarcubes.jpg");
  height: 500px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* footer styling */

.footerDiv{
  background-color: #90d4c5;
  height: 300px;
  padding: 100px 400px;
  color:#2b7262;
  text-align: center;
}
.footerDiv h1{
  font-weight: bold;
  font-size:xx-large;
}
.footerDiv ul{
  list-style: none;
  margin-top: 40px;
  font-size: large;
}
.footerDiv li{
  margin-right: 50px;
  display: inline;
}
.footerDiv p{
  margin-top: 20px;
}